body{
    background-image: url('../images/background4.png');
    background-size: cover;
    background-position-x: -400px;
    background-repeat: no-repeat;
}

h1, h4, p, .card-text{
    font-family: 'Prompt', sans-serif;
}

.line{
    padding-left: 6px;
    border-right: solid;
    height: 37px;
}

.card{
    margin-top: 30px;
}

.card-title{
    font-weight: bold;
    height: 40px;
    background-color: lightpink;
    text-align: center;
    padding-top: 7px;
}

hr{
    width: 1150px;
}

.btn-outline-dark{
    margin-top: 5px;
}

footer{
    margin-top: 100px; 
}