body{
    background-image: url('../images/background8.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    text-align: center;
    margin-top: 30px;
}

.card-title{
    color: white;
    background-color: lightskyblue;
    height: 40px;
    font-weight: 600;
    padding-top: 7px;
}


.card-body{
    background-color: white;
    padding-bottom: -80%;
}

.form{
    padding-bottom: -50px;
}


.btn-outline-danger, .btn-outline-dark{
    width: 87px;
    height: 38px;
    
}

h1 {
    padding-top: 6px;
    padding-right: 9px;
    border-right: solid;
    height: 80px;
}


.btn-group{
    margin-top: 20px;
    margin-left: 100px;
}

